.contentContainer {
    padding: 10px 0;

    .paragraph {
        text-align: left;
        font-size: 20px;
        font-weight: 500;
    }

    .img-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
        text-align: center;

        img {
            width: 99%;
            height: auto;
            text-align: center;
            max-height: 400px;
        }
    }
}